
.img{
    object-fit: cover;
    background-position: center;
    height: 150px;
}

.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttons1{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.gornji{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gornji button.MuiButton-root {
    min-width: unset; /* override the default button width */
    padding: 8px 12px; /* adjust the button padding to make it smaller */
  }

span{
    font-size: larger;
}